
    <footer
        class="container-fluid border-top border-dark py-2 my-4"
        >
        <div class="container-md d-flex flex-wrap justify-content-between align-items-center">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-primary">© <%= new Date().getFullYear() %> Melroy Barreto</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex"> 
                <li class="ms-3">
                <a class="text-body-secondary" href="https://www.linkedin.com/in/melroy-barreto/" aria-label="LinkedIn">
                    <!-- <svg class="bi" width="24" height="24" aria-hidden="true"><use href="/assets/linkedin.svg"></use></svg> -->
                     <img src="/assets/linkedin.svg" alt="LinkedIn" width="20" height="20">
                </a></li> 
                <li class="ms-3">
                <a class="text-body-secondary" href="https://github.com/melroy-b" aria-label="Github">
                    <!-- <svg class="bi" width="24" height="24"><use href="/assets/github.svg"></use></svg></a> -->
                    <img src="/assets/github.svg" alt="Github" width="20" height="20">
                </a></li> 
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.querySelector('.weather-chart');
        const hourlyForecast = <%- JSON.stringify(hourlyForecast) %>;

        const hourlyLabels = hourlyForecast.map(item => item.dt);
        const hourlyTemps = hourlyForecast.map(item => item.temp);

        const weatherChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: hourlyLabels,
                datasets: [{
                    label: 'Hourly Temperature (°C)',
                    data: hourlyTemps,
                    borderColor: 'rgb(233, 110, 80)',
                    backgroundColor: 'rgb(233, 110, 80, 0.2)',
                    fill: true,
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Time'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Temperature (°C)'
                        }
                    }
                }
            }
        });
    </script>
</body>

</html> 